body {
  font-family: Verdana;
  background-color: #353535;
}

h1 {
  text-align: center;
  color: #ffffff;
}

nav {
  display: flex;
  background-color: #000000;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 25px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem;
}

nav a.selected {
  border: solid 2px #ffffff;
  border-radius: 25px;
}

li {
  list-style:decimal-leading-zero;
  color: #ffffff;
  padding: 0.5rem;
}
